body > div{
    margin: 3px;
}
div{
    text-align: center;
}
.players{
    position: relative;
    background: white;
    margin: 0 1%;
    padding: 0;
}
.player{
    position: relative;
    float: left;
    margin: 1%;
    width: 18%;
    padding-top: 12%;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    color: #eee;
    background: #555;
    white-space: nowrap;
}
.player.occupied{
    background: #ccc;
}

.player p{
    position: absolute;
    top: -3px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 20px;
    text-align: center;
}
.btn{
    border: 1px solid black;
    padding: 10px;
}
.action.btn{
    margin: 0 20%;
}

.hidden{
    display: none;
}
p{
    margin: 2px;
    padding: 0px;
}
.role{
    font-size: 14px; 
    color: #777;
}
.food,
.tile{
    float: left;
    width: 24%;
}
.my_order .food,
.history .food,
.orders .food{
    width: 9%;
    font-size: 5px;
}
.food p{
    white-space: nowrap;
    overflow: hidden;
}
.food img,
.tile img{
    width: 90%;
}
.food.chosen{
    float: none;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.card{
    width: 100%;
    height: 0;
    padding-bottom: 151.28%;
}
.my_order,
.players,
.orders,
.history{
    border-bottom: 3px solid #567;
}
select{
    border: 1px solid;
    width: 60%;
}

#popout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000; }
  #popout .pop-loading {
    display:none;
    color: #a47eb9; }
  #popout .pop-content {
    display: none; }
    #popout .pop-content .title {
      padding: 0px 10px;
      font-size: 22px;
      color: #a47eb9; }
    #popout .pop-content .detail {
      color: #888;
      padding: 10px; }
  #popout .popout-ctn {
    opacity: 0;
    background: #FFF;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    box-sizing: border-box;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
}
#popout.loading .popout-ctn,
#popout.loading .pop-loading {
  display: block;
  opacity: 1; }
