<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
<title>Sushigo</title>
<link rel="stylesheet" href="./static/game.css?v=20171030v2"></link>
</head>
<body>
    <div style="display:none"><img src='./static/sushigo_logo.jpg'></img></div>
    <div>这一局的题板为:</div>
    <div class="tiles">
        <div style="clear:both"></div>
    </div>
    <div class="btn" onclick = "window.location.reload()">刷新页面</div>
    <div class="player_info"></div>
    <div class="sit">请选择自己的编号坐下!</div>
    <div class="my_order"></div>
    <div class="players"></div>
    <div class="orders"></div>
    <div class="history"></div>
    <div class="btn" onclick = new_game()>新建游戏</div>
    <div class="btn" onclick = new_game("random")>新建随机卡组</div>
    <div class="newgame">
        <div><label>玩家人数:</label><select id = "count"></select></div>
        <div><label>卡组类型:</label><select id = "cards_type"></select></div>
    </div>
    <div class="hint"></div>
    <div class="discussion"></div>
    <div class="rules"></div>
    <div id="popout" class="hidden">
      <div class="popout-box">
          <div class="popout-ctn">
            <div class="pop-loading">
                <div class="text">请求提交中....</div>
            </div>
            <div class="pop-content">
                <div class="title"></div>
                <div class="detail"></div>
            </div>
          </div>
      </div>
    </div>
</body>
<script src="./static/zepto.js"></script>
<script src="./static/base.js"></script> 
<script type="text/javascript" src="./static/socket.io.min.js"></script>
<script src="./static/sushigo.js?v=20171030v2"></script>
</html>
